{
    margin: 0;
    padding: 0;
}
body {   
}
#banner {
    width: 100%;
}
.principal}
background: # cccccc
padding:30px;
}
h1{
    text-align: center
}
p {
    text-align: center;
}
#missao {
    font-size: 20px
}
em strong {
    color:black
} 
.itens{
    font-style:talic;
}
.beneficios{
background: #ffffff;
padding: 20px;
.titulo-principal{
padding-left: 20px;
}
titulo-secundario{]
text-align: center;
}
ul{
duplay: inline-block
vertical-align: top;
width: 20%;
    margin-right: 15%;
}
.imagem-beneficios{
widht: 50%
}



    



